<div class="p-8 max-w-[400px] flex flex-col">
  <div class="flex justify-between">
    <div>
      <h2 class="text-xl font-medium mb-1">Sign In</h2>
      <p class="tetx-sm text-gray-500">Sign in to your account to continue shopping</p>
    </div>
    <button tabindex="-1" matIconButton class="mt-2 mr-2" mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <form class="mt-6" [formGroup]="signInForm" (ngSubmit)="signIn()">
    <mat-form-field class="w-full mb-4">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email" placeholder="Enter Your Email" />
      <mat-icon matPrefix>email</mat-icon>
    </mat-form-field>

    <mat-form-field class="w-full mb-6">
      <mat-label>Password</mat-label>
      <input
        matInput
        formControlName="password"
        [type]="passwordVisible() ? 'text' : 'password'"
        placeholder="Enter Your Password"
      />
      <mat-icon matPrefix>lock</mat-icon>
      <button
        matSuffix
        matIconButton
        type="button"
        class="mr-2"
        (click)="passwordVisible.set(passwordVisible())"
      >
        <mat-icon [fontIcon]="passwordVisible() ? 'visibility_off' : 'visibility'"></mat-icon>
      </button>
    </mat-form-field>

    <button type="submit" matButton="elevated" class="w-full" (click)="signIn()">Sign In</button>
  </form>
</div>
