<div
  class="relative bg-white cursor-pointer rounded-xl shadow-lg overflow-hidden flex flex-col h-full"
>
  <img [src]="product().imageUrl" class="w-full h-[300px] object-cover rounded-t-xl" />

  <button
    (click)="toggleWishlist(product())"
    mat-icon-button
    [class]="isInWishlist() ? '!text-red-500' : '!text-gray-500'"
    class="!absolute z-10 top-3 right-3 w-10 h-10 rounded-xl !bg-white border-0 shadow-md flex items-center justify-center cursor-pointer transition-all duration-200 hover:200 hover:scale-110 hover:shadow-lg"
  >
    <mat-icon>{{ isInWishlist() ? 'favorite' : 'favorite_border' }}</mat-icon>
  </button>

  <div class="p-5 flex flex-col flex-1">
    <h3 class="text-lg font-semibold text-gray-900 mb-2 leading-tight">{{ product().name }}</h3>
    <p class="text-gray-600 text-sm mb-4 flex-1 leading-relaxed">{{ product().description }}</p>

    <!-- add rating componet -->

    <div class="text-sm font-medium mb-4">
      {{ product().inStock ? 'In Stock' : 'Out of Stock' }}
    </div>

    <div class="flex items-center justify-between mt-auto">
      <span class="text-2xl font-bold text-gray-900">${{ product().price }}</span>
      <button matButton="filled" class="flex items-center gap-2">
        <mat-icon>shopping_cart</mat-icon>
        Add to Cart
      </button>
    </div>
  </div>
</div>
