<div appViewPanal>
  <h2 class="text-2xl font-bold mb-4">Order Summary</h2>

  <div class="space-y-2 pb-4">
    <ng-content select="[checkoutItems]" />
  </div>

  <div class="space-y-3 text-lg pt-4 border-t">
    <div class="flex justify-between">
      <span>Subtotal</span>
      <span>${{ subtotal().toFixed(2) }}</span>
    </div>

    <div class="flex justify-between">
      <span>Tax</span>
      <span>${{ tax().toFixed(2) }}</span>
    </div>

    <div class="flex justify-between border-t pt-3 font-bold text-lg">
      <span>Total</span>
      <span>${{ total().toFixed(2) }}</span>
    </div>
  </div>

  <ng-content select="[actionButtons]" />
</div>
