<div class="p-8 max-w-[400px] flex flex-col">
  <div class="flex justify-between">
    <div>
      <h2 class="text-xl font-medium mb-1">Sign In</h2>
      <p class="tetx-sm text-gray-500">Join us and start shopping today.</p>
    </div>
    <button tabindex="-1" matIconButton class="mt-2 mr-2" mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <form class="mt-6 flex flex-col" [formGroup]="signUpForm" (ngSubmit)="signUp()">
    <mat-form-field class="w-full mb-4">
      <mat-label>User Name</mat-label>
      <input formControlName="name" matInput type="text" placeholder="Enter Your Name" />
      <mat-icon matPrefix>person</mat-icon>
    </mat-form-field>

    <mat-form-field class="w-full mb-6">
      <mat-label>Email</mat-label>
      <input formControlName="email" matInput placeholder="Enter Your Email" />
      <mat-icon matPrefix>email</mat-icon>
    </mat-form-field>

    <mat-form-field class="w-full mb-6">
      <mat-label>Password</mat-label>
      <input formControlName="password" matInput placeholder="Enter Your Pasword" />
      <mat-icon matPrefix>lock</mat-icon>
    </mat-form-field>

    <mat-form-field class="w-full mb-6">
      <mat-label>Confirm Password</mat-label>
      <input formControlName="confirmPassword" matInput placeholder="Confirm Your Pasword" />
      <mat-icon matPrefix>lock</mat-icon>
    </mat-form-field>

    <button type="submit" matButton="elevated" class="w-full">Create account</button>
  </form>

  <p class="text-sm text-gray-500 mt-2 text-center">
    Already have an account?
    <a class="text-blue-600 cursor-pointer" (click)="openSignInDialog()">Sign Up</a>
  </p>
</div>
