<!-- side Nav container -->
<mat-sidenav-container class="h-[calc(100%-1%)] overflow-auto">
  <mat-sidenav mode="side" opened>
    <div class="p-6">
      <h2 class="text-lg text-gray-900">Categories</h2>

      <mat-nav-list>
        @for (catg of categories(); track catg) {
          <mat-list-item
            class="m-2"
            [routerLink]="['/products', catg]"
            [activated]="category() === catg"
          >
            <span
              matListItemTitle
              class="font-medium"
              [class]="catg === category() ? '!text-white' : null"
              >{{ catg | titlecase }}</span
            >
          </mat-list-item>
        }
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="bg-gray-100 p-6 h-full">
    <h1 class="text-2xl font-bold text-gray-900 mb-1">{{ category() | titlecase }}</h1>
    <p class="text-base text-gray-600 mb-6">
      {{ store.filteredProducts().length }} products found.
    </p>
    <div class="responsive-grid">
      @for (product of store.filteredProducts(); track product.id) {
        <!-- <div
        class="bg-white cursor-pointer rounded-xl shadow-lg overflow-hidden flex flex-col h-full"
      >
        <img [src]="product.imageUrl" class="w-full h-[300px] object-cover rounded-t-xl" />
        <div class="p-5 flex flex-col flex-1">
          <h3 class="text-lg font-semibold text-gray-900 mb-2 leading-tight">{{ product.name }}</h3>
        </div>
      </div> -->
        <app-product-card [product]="product">
          <app-toggle-wishlist-button class="!absolute z-10 top-3 right-3" [product]="product" />
        </app-product-card>
      }
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- <div class="bg-gray-100 p-6 h-full"></div> -->
