<div class="flex items-center gap-2">
  <button
    mat-icon-button
    routerLink="/wishlist"
    [matBadge]="store.wishlistCount()"
    [matBadgeHidden]="store.wishlistCount() === 0"
    matBadgeColor="warn"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    routerLink="/cart"
    [matBadge]="store.cartCount()"
    [matBadgeHidden]="store.cartCount() === 0"
  >
    <mat-icon>shopping_cart</mat-icon>
  </button>
  <button mat-flat-button>Sign In</button>
  <button mat-raised-button color="primary">Sign out</button>
</div>
